<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="DataBase.IDatabase,DataBase" />
    <typeAlias alias="SqlServer" type="DataBase.SqlServer.Database,DataBase.SqlServer" />
    <typeAlias alias="MySql" type="DataBase.MySqlEx.Database,DataBase.MySqlEx" />
    <typeAlias alias="Oracle" type="DataBase.Oracle.Database,DataBase.Oracle" />
  </typeAliases>
  <containers>
    <container name="DbRepositoryIoc">
      <type type="IDatabase" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDatabase" mapTo="MySql" name="MySql"></type >
      <type type="IDatabase" mapTo="Oracle" name="Oracle"></type >
    </container>
  </containers>
</unity>