<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="RabbitPushServer" value="127.0.0.1" />
    <add key="PushServerUserName" value="guest" />
    <add key="PushServerPassword" value="guest" />
  </appSettings>
</configuration>